:root {
  --ifm-color-primary: #155f4a;
  --ifm-color-primary-dark: #12543f;
  --ifm-color-primary-darker: #11503b;
  --ifm-color-primary-darkest: #0e4231;
  --ifm-color-primary-light: #186a54;
  --ifm-color-primary-lighter: #196e58;
  --ifm-color-primary-lightest: #1d7c63;
}
