apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
configMapGenerator:
  - name: blueprint-runtime-profile
    literals:
      - BLUEPRINT_ENV={{ENV}}
generatorOptions:
  disableNameSuffixHash: true
