apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: platform-public-endpoints-{{ENV}}
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: platform-blueprint
    app.kubernetes.io/component: optional-module
    app.kubernetes.io/name: public-endpoints
    app.kubernetes.io/environment: {{ENV}}
spec:
  project: platform-edge-{{ENV}}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{PUBLIC_ENDPOINTS_CONTROLLER_NAMESPACE}}
  source:
    repoURL: docker.io/envoyproxy
    chart: gateway-helm
    targetRevision: {{PUBLIC_ENDPOINTS_HELM_CHART_VERSION}}
    helm:
      releaseName: {{PUBLIC_ENDPOINTS_HELM_RELEASE}}
      values: |
        config:
          envoyGateway:
            logging:
              level:
                default: info
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
