apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: platform-rabbitmq-{{ENV}}
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: platform-blueprint
    app.kubernetes.io/component: optional-module
    app.kubernetes.io/name: rabbitmq
    app.kubernetes.io/environment: {{ENV}}
spec:
  project: platform-{{ENV}}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{RABBITMQ_NAMESPACE}}
  source:
    repoURL: https://charts.bitnami.com/bitnami
    chart: rabbitmq
    targetRevision: {{RABBITMQ_HELM_CHART_VERSION}}
    helm:
      releaseName: {{RABBITMQ_HELM_RELEASE}}
      values: |
        fullnameOverride: "{{RABBITMQ_HELM_RELEASE}}"
        auth:
          username: "{{RABBITMQ_USERNAME}}"
          existingPasswordSecret: "{{RABBITMQ_PASSWORD_SECRET_NAME}}"
          existingSecretPasswordKey: rabbitmq-password
        service:
          type: ClusterIP
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
