apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - backend-api-deployment.yaml
  - backend-api-service.yaml
  - touchpoints-web-deployment.yaml
  - touchpoints-web-service.yaml
